.guide-container{
    display: flex;
    width: 100%;
    height: 100%;
}

.side_bar-guide {
  background-color: #f9f9f9; /* Màu nền nhạt hơn để dễ nhìn */
  width: 20%; /* Giới hạn chiều rộng sidebar */
  padding: 20px;
  border-right: 1px solid #ddd; /* Đường kẻ phân cách với nội dung chính */
}

.side_bar-guide .intro:hover{
  color: #007bff; 
  cursor: pointer;
}

.side_bar-guide h3 {
  font-size: 18px; /* Tăng cỡ chữ tiêu đề */
  margin-bottom: 10px; /* Khoảng cách dưới tiêu đề */
}
  
  .side_bar-guide ul {
    list-style-type: none; /* Loại bỏ chấm đầu dòng */
    padding: 0;
    margin-top: 10px;
    border-top: 1px solid #ddd; /* Đường kẻ dưới mỗi mục */
  }
  
  .side_bar-guide ul li {
    margin-bottom: 10px; /* Khoảng cách giữa các mục */
    font-size: 16px; /* Cỡ chữ */
    color: #333; /* Màu chữ */
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
  }

  .side_bar-guide ul li:hover {
    color: #007bff; 
    background-color: #f1f1f1;
}

  .main-guide{
    width: 100%;
    height: 100vh;
    background-color: #ffffff; /* Màu nền trắng */
    overflow-y: auto;
  }


.top-guide {

  color: black; /* Màu chữ tiêu đề */
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 24px; /* Cỡ chữ tiêu đề */
  font-weight: bold; /* Đậm chữ tiêu đề */
  border-bottom-left-radius: 8px; 
  border-bottom-right-radius: 8px;
}

  .content-guide{
    background-color: #fafafa#fafafa;
    width: 100%;
    height: 100vh;
    padding: 20px 40px 20px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }

.content-guide a {
  color: #007bff; /* Màu chữ cho liên kết */
  text-decoration: none; /* Bỏ gạch chân của liên kết */
}

.content-guide a:hover {
  text-decoration: underline; /* Gạch chân khi hover */
}

  .content-guide .content {
    text-align: start;
    color: #333; /* Màu chữ */
    line-height: 1.3; /* Khoảng cách dòng để dễ đọc */
    font-size: 17px; /* Cỡ chữ */
  }
  